[submodule "nancy"]
	path = nancy
	url = https://github.com/communityforcoders/nancy
[submodule "modules/test"]
	path = modules/test
	url = https://github.com/communityforcoders/nancy-test-module.git
[submodule "modules/register"]
	path = modules/register
	url = https://github.com/communityforcoders/nancy-register-module.git
[submodule "modules/mute"]
	path = modules/mute
	url = https://github.com/communityforcoders/nancy-mute-module.git
